@import url('../../global.css');

/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Container that adjusts based on viewport */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the viewport */
    background-color: rgba(255, 255, 255, 0.9); /* Container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width for all devices */
    max-width: 1200px; /* Max width to allow for larger screens */
    margin: 0 auto; /* Center the container */
}

/* Header styling */
header {
    text-align: center;
}

h1 {
    color: #96c6f6;
    margin-bottom: 30px;
}

/* Main content area */
main {
    flex: 1; /* Make main take the remaining space */
}

/* Question styling */
.question {
    margin-bottom: 20px;
    background-color: #C3B1E1;
    padding: 15px;
    border-radius: 5px;
}

/* Options styling */
.options {
    display: flex;
    flex-direction: column;
}

/* Responsive option styling */
.option {
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(88, 37, 130);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #004080;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/* Footer styling */
footer {
    background-color: var(--default-variable-color); /* Philadelphia blue */
    color: var(--default-text-color);
    text-align: center;
    padding: 1rem;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1200px) {
    /* Adjust container padding for smaller screens */
    .container {
        padding: 15px; 
    }

    /* Adjust header font size for smaller screens */
    h1 {
        font-size: 1.8rem; /* Responsive font size */
    }
}

@media only screen and (max-width: 768px) {
    /* Stack elements vertically on small screens */
    .options {
        flex-direction: column; /* Ensure options stack */
    }

    .option {
        width: 100%; /* Full width for options on small screens */
        margin: 5px 0; /* Keep margin for spacing */
    }
}

@media only screen and (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
