/* import global themes */
@import url('../global.css');

/* Contact Page Styles */
.contact {
    text-align: center;
    padding: 2rem 0;
    position: relative;
    top: 20px;
}

.team-member {
    text-align: center; /* Ensures everything inside is centered */
    margin-bottom: 2rem;
}

.team-member img {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Ensures images cover the area */
    border-radius: 50%; /* Optional: Round the images */
}

.links {
    margin-top: 1rem;
}

.links a {
    display: inline-block; /* Make the links inline but block-like */
    margin: 0.25rem; /* Adjust spacing between links */
    color: var(--default-text-color-dark);
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: var(--default-variable-color);
    text-decoration: underline;
}

h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--default-text-color-dark);
}

/* Additional styling for responsiveness */
@media (min-width: 768px) {
    .team-member {
        display: inline-block;
        width: 23%; /* Width of each team member block */
        margin-right: 1%;
        vertical-align: top;
    }

    .team-member:last-child {
        margin-right: 0; /* Remove the right margin for the last member */
    }
}
